*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 35px;
}

span {
    color: rgba(0, 0, 0, 0.4);
}

.container {
    font-size: 25px;
}

.language {
    margin: 50px;
}

select {
    font-size: 25px;
}

.date {
    margin: 10px;
}

input {
    font-size: 20px;
}

.button {
    margin: 20px;
}

button {
    border-radius: 20px;
    border: 1px solid black;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0 10px;
}

button:hover {
    background-color: rgba(255, 173, 51, 1);
    color: rgba(0, 0, 0, 1);
}

.label {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}